{% extends 'home.html' %}
{% block content%}
<h2>My Files</h2>
<br>
{% if new %}
	<a class="btn btn-primary" href="{% url 'file_upload' %}">Upload</a>
{% endif %}

{% if files %}
<a class="btn btn-primary" href="{% url 'file_upload' %}">Upload</a>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Time</th>
		</tr>
	</thead>
	<tbody>
		{% for file in files %}
			<tr>
				<td><a href="{{ file.file_object.url }}" target="_blank">{{ file.file_name}}</a></td>
				<td>{{ file.time }}</td>
				<td>	
					<a class="btn btn-primary" href="{% url 'file_pk' file.pk %}">More</a>
				</td>
			</tr>
		{% endfor%}
	</tbody>
</table>
{% endif %}

{% if file_target %}
<h4> Creator: {{file_target.file_owner}}</h4>
<h4> File Name: {{file_target.file_name}}</h4>
<h4> Upload at: {{file_target.time}}</h4>
<form method="post" action="{% url 'file_delete' file_target.pk %}">
	{% csrf_token %}
	<button class="btn btn-danger" type="submit">Delete</button>
</form>
{% endif %}
{% endblock%}