{% extends 'home.html' %}
{% block content%}
<h2>Youtube Downloader</h2>
<br>
{% if input_url %}
<form method="post">
    {% csrf_token %}
    {{ input_url.as_p }}
    <p><button class="btn btn-primary" type="submit" name="action" value = 'video'>Download HD Video</button></p>
    <p><button class="btn btn-primary" type="submit" name="action" value = 'video_720'>Download Clear Video</button></p>
    <p><button class="btn btn-primary" type="submit" name="action" value = 'video_480'>Download iPod Video</button></p>
    <P><button class="btn btn-primary" type="submit" name="action" value = 'mp3'>Download MP3</button></p>
</form>
{% endif %}

{% if download_ready %}
    <h3 id="download-status">Downloading: {{ video_title }}...</h3>

    <script>
        // Create a temporary link element
        var link = document.createElement('a');
        link.href = "{% url 'serve_download' %}";
        link.download = "{{ video_title }}"; // Set the download attribute with the video title

        // Append the link to the document body
        document.body.appendChild(link);

        // Programmatically click the link to trigger the download
        link.click();

        // Remove the link from the document after triggering the download
        document.body.removeChild(link);

        // Update the download status after a short delay
        setTimeout(function() {
            document.getElementById("download-status").innerText = "Download completed!";
        }, 20000); // Adjust the delay as needed
    </script>
{% endif %}
{% endblock%}